@using CodeFirstEF.Models;
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
	@{
		// // var data = ViewBag.Emp
		var data = ViewBag.Userdetail;
	}
	@* @{
		foreach(var d in data)
		{
			<h3>@d.Name</h3><h3>@d.Address</h3><h3>@d.CompanyName</h3><h3>@d.Designation</h3>
		}
	} *@
	
		@* @* @foreach(var d in Model)
		{
			<h3>@d.FirstName</h3><h3>@d.LastName</h3><h3>@d.MobileNumber</h3>
		} *@
        

</div>


<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: brown;
    }
</style>
    <h1>Users List</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Mobile Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@user.MobileNumber</td>
                </tr>
            }
        </tbody>
    </table>
